*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 100%), url('images/background-img.jpg');
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/background-img.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px, 0;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin: 10px 0 0 22px;
}

.div-btn{
    display: flex;
}
nav button{
    border: 0;
    outline: 0;
    background: rgb(229,9,20);
    color: #fff;
    padding: 5px 14px;
    font-size: 12px;
    border-radius: 0.25rem;
    margin-left: 20px;
    cursor: pointer;
}
.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #7e7a7a;
    padding: 7px 10px;
    font-family: sans-serif;
}
.togg-down{
    width: 7px;
    margin-left: 10px;
}
.svg-1{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(312deg) brightness(108%) contrast(100%);
    width: 13px;
    margin-right: 10px;
}
.sign-log-btn{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
}

/* ----------------------------------header style------------------------------------ */
.temp{
    display: flex;
    margin: 15% 0 0 23px;
    position: absolute;
    margin-top: 13%;
    justify-content: center;
    align-items: center;
}
.header-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.header-content h1{
    font-size: 38px;
    font-weight: 900;
}
.header-content p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0 0;
}
#form-title{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1.5rem;
}
.email-sinup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

.form-wrapper{
    margin: 10px;
    width: 30%;
    border: 1.5px solid #88888823;
    border-radius: 0.25rem;
    padding: 1.7px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.3) 100%);
}

.full-input {
    display: inline-block;
    width: 100%;
    padding: 6.5px 13px;
    border: 1px solid #7e7a7a;
    border-radius: 0.25rem;
}
input {
    outline: none;
    border: none;
    display:block;
    line-height: 1.2em;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background: transparent;
}

.form-wrapper:focus-within{
    border: 1.5px solid #fff;
    border-radius: 0.25rem;
    padding: 1.7px;
}

label {
    display: block;
    font-size: 10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: rgb(229,9,20);
    color: #fff;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Netflix Font', sans-serif;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 12px 14px;
}
form button img{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(312deg) brightness(108%) contrast(100%);
    width: 20px;
    margin-right: 10px;
}

/* -------------------------------features---------------------------------- */
.features{
    display: flex;
    padding: 50px 12%;
    border-top: 6px solid rgb(35,35,35);
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 100%;
    margin: auto;
}
.features h2{
    font-size: 36px;
    font-weight: 900;
}
.features p{
    font-size: 18px;
    font-weight: 400;
    margin: 1rem 0 0;
    line-height: 1.3em;
}

/* -------------------------Frequently Asked Question Style--------------------------- */
.faq{
    display: flex;
    justify-content: center;
    border-top: 6px solid rgb(35,35,35);
    align-items: center;
    padding: 40px 0;
    text-align: center;
    box-sizing: border-box;
}
.faq-row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
}
.faq h2{
    font-size: 35px;
    font-weight: 900;
}

.qus-ul{
    margin: 15px auto;
    width: 100%;
    max-width: 920px;
}
.qus-list{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.qus-list label{
    display: flex;
    align-items: center;
    padding: 24px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    background: rgb(45,45,45);
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    color: #fff;
}
.qus-list label::after{
    content: '+';
    font-size: 45px;
    font-family: auto;
    position: absolute;
    right: 20px;
    transition: transform 0s;
}
input[type="radio"]{
    display: none;
}
.qus-ans{
    background: rgb(45, 45, 45);
    text-align: justify;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s, padding 0.2s;
}

.qus-list input[type="radio"]:checked + label + .qus-ans{
    max-height: 600px;
    padding: 30px 20px;
}
.qus-list input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}


/* ----------------------------End sign-up form style--------------------------- */
.sign-end-sec{
    margin-top: 2.85rem;
}
.sign-sec{
    padding: 0 2rem;
    margin: 0 auto;
}
.sign-sec small{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.sign-sec form{
    padding-top: 0;
}
.sign-sec .form-wrapper{
    width: 35%;
    margin-right: 5px;
}


/* -----------------------------Footer Style------------------------------- */
.footer{
    padding: 50px 50px 10px 155px;
    border-top: 6px solid rgb(35,35,35);
    color: rgba(255,255,255,0.7);
}
.footer h2{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 13px;
}
.footer-row{
    display: flex;
    flex-direction: row;
}
.footer-col{
    display: flex;
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
    flex-direction: column;
}
.footer-col a{
    display: block;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    margin-bottom: 1rem;
}
.footer-row{
    align-items: flex-start;
    padding: 10px 0 0 0;
}
.end-lang-btn button{
    color: #fff;
    border-radius: 0.25rem;
    padding: 5px 9px;
    cursor: pointer;
}
.footer-org{
    display: flex;
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 39px;
    flex-direction: column;
}
.footer-con{
    display: block;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    margin-top: 1.5rem;
}